.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5)),  url(../images/banner_image.jpg);
    background-position: center;
    background-size: cover;
    
    .separator {
        margin: 0;
        margin-bottom: 40px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding-top: 200px;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__logo-wrapper {
        margin-bottom: 75px;
    }
    &__logo--ax {
        width: 102px;
        height: 55px;
    }
    &__logo--it {
        width: 65px;
        height: 55px;
    }
    &__banner-form {
        display: flex;
        flex-direction: column;
    }
    &__main-title {
        font-family: $fontRaleway;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 60px;
    }
    &__secondary-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 40px;
    }
    &__button {
        margin-bottom: 185px;
    }
}
.banner-form {
    &__title {
        font-family: $fontOpenSans;
        font-weight: 700;
        font-size: 24px;
        text-transform: uppercase;
        color: #333333;
        background-color: #fff;
        border-radius: 10px 10px 0 0;
        text-align: center;
        padding-top: 50px;
        &--orange {
            color:#EC7979;
        }
    }
    &__get-started {
        border-radius: 0px 0px 10px 10px;
        width: 470px;
    }
    &__placeholder-wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;
        background-color:#FFFFFF;
        padding: 50px 50px 75px 50px;
    }
    &__placeholder {
        border: none;
        border-bottom: 1px solid #BDBDBD;
        text-align: left;
    }
}

