
.customers {
    &__main-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 60px;
    }
    &__secondary-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #86878B;
        padding: 5px 0;
        margin-bottom: 85px;
    }
    &__feedback-container {
        display:flex;
        gap: 20px;
    }
}
.feedback-content {
    &__feedback-bubble {
        background-color:#E2E2E2;
        border-radius: 10px;
        padding: 50px;
        position: relative;
        margin-bottom: 60px;
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 20%;
            bottom: -25px;
            border-top: 25px solid #E2E2E2;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }
    }
    &__feedback-text {
        margin: 0;
        font-family: $fontRaleway;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #86878B;
    }
    &__image-content {
        display: flex;
        gap: 30px;
    }
    &__image-info {
        flex-direction: column;
    }
    &__user-name {
        font-family: $fontOpenSans;
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 30px;
    }
    &__user-group {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }
}

