.design {
    background: linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/design/image.png);
    background-position: center;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    &__main-title{
        color:#fff;
        font-family: $fontRaleway;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 60px;
    }
    &__separator{
        margin-bottom: 40px;
    }
    &__secondary-title{
        color:#fff;
        font-family: $fontRaleway;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 70px;
    }
    &__button {
        width: 370px;
    }

}