@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@1&family=Raleway&family=Space+Mono&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@1&family=Open+Sans:wght@600;700&family=Raleway:ital,wght@0,500;0,600;0,700;1,400&family=Space+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html, body {
  margin: 0 auto;
  background-color: #E5E5E5;
}

.container {
  width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.separator {
  width: 170px;
  margin: 60px auto 40px auto;
}

.separator--orange {
  border-bottom: 2px solid #EC7979;
}

/*TABS SECTION*/
.tabs__tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
}

.tabs__tabs-content {
  width: 60%;
}

.tabs__content-wrapper {
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.tabs__tabs-item {
  min-width: 150px;
  text-align: center;
  position: relative;
}

.tabs__tabs-item--active {
  border: 1px solid #E5E5E5;
  border-bottom: none;
}

.tabs__tabs-item--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #ffffff;
  bottom: -1px;
}

.tabs__image-wrapper {
  width: 40%;
  height: 100%;
}

.tabs__image {
  width: 100%;
  height: 100%;
}

.tabs-item__item {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.tabs-content__main-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  padding: 0 0 45px 100px;
  margin-top: 0;
}

.tabs-content__tabs-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 0 30px 0 100px;
  margin: 0;
}

.tabs-content__button {
  margin: 50px 0 55px 100px;
}

.button {
  display: block;
  width: 270px;
  height: 60px;
  margin-bottom: 30px;
  border: none;
  border-color: transparent;
}

.button--red {
  background-color: #EC7979;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.button--red:hover, .button--red:focus {
  cursor: pointer;
  background-color: #e75454;
}

/*TABS SECTION END*/
/*AWESOME SECTION*/
.about_us__main-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

.about_us__secondary_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}

.about_us__skills-list--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-list__skill-item {
  justify-items: center;
}

.skill-item__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.skill-item__text {
  font-family: "Railway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.skill-item__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*AWESOME SECTION END*/
/*PRICE OPTIONS SECTION*/
.options__content {
  width: 1170px;
  padding: 15px;
  margin: 0 auto;
  background-color: #F5F5F5;
}

.options__main-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.options__secondary-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #86878B;
}

.options__price-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.price-content__price-list li:first-child {
  background: #333333;
  border: 1px solid #F5F5F5;
  color: #FFFFFF;
  font-family: 'Open Sans',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
  height: 60px;
  padding-bottom: 25px;
}

.price-content__price-list li:nth-child(2) {
  background-color: #333333;
  border: 1px solid #F5F5F5;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  height: 100px;
  padding-top: 25px;
}

.price-content__price-list li:nth-child(3) {
  background-color: #333333;
  border: 1px solid #F5F5F5;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  height: 50px;
}

.price-list__price-item {
  background: #FFFFFF;
  border: 1px solid #F5F5F5;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #86878B;
  padding-top: 15px;
}

.price-content__price-list--optima {
  margin-top: -5px;
  -webkit-box-shadow: 5px 5px 5px #c3c3c3;
          box-shadow: 5px 5px 5px #c3c3c3;
}

.price-content__price-list {
  padding: 0;
}

.price-content__price-list--wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*PRICE OPTIONS SECTION END*/
/*CUSTOMERS SECTION*/
body {
  counter-reset: section;
}

.customers__container {
  width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
}

.customers__main-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.customers__secondary-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #86878B;
  padding: 5px 0;
}

.customers__feedback-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.customers__image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers__image-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers__feedback {
  background-color: #E2E2E2;
  border-radius: 10px;
  padding: 50px;
  position: relative;
}

.customers__feedback::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 20%;
  bottom: -25px;
  border-top: 25px solid #E2E2E2;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

.customers__feedback-text {
  margin: 0;
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #86878B;
}

.customers__image-content {
  padding-top: 40px;
}

.customers__customer-name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #000000;
  margin: 10px 20px;
}

.customers__customer-occupation {
  font-family: 'Raleway',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  margin: 0 20px 20px 20px;
}

.customers__image-info::after {
  counter-increment: section;
  content: counter(section);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}

/*CUSTOMERS SECTION END*/
/*# sourceMappingURL=main.css.map */