.about_us {
    .container {
        padding-top: 100px;
        padding-bottom: 60px;
    }
    &__main-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        margin-bottom: 60px;

        @include mediaTablet {
            font-size: 24px;
        }
        @include mediaMobile {
            font-size: 18px;
        }
    }
    &__secondary_title {
        font-family: 'Raleway';
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #86878B;
        margin-bottom: 110px;

        @include mediaTablet {
                font-size: 14px;
        }
        @include mediaMobile {
            font-size: 13px;
        }
    }
    &__skills-list--wrapper {
        display: flex;
        justify-content: center;
        gap: 30px;

        @include mediaMobile {
            flex-wrap: wrap;
        }
    }
}
.skills-list {
    &__skill-item {
        justify-items: center;
    }
    
}
.skill-item {
    &__title{
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 24px;
        text-align: center;

        @include mediaTablet {
                font-size: 18px;
        }
        @include mediaMobile {
            font-size: 18px;
        }
    }
    &__text {
        font-family: "Railway", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        @include mediaTablet {
                font-size: 14px;
        }
        @include mediaMobile {
            font-size: 14px;
        }
    }
    &__image-wrapper {
        display: flex;
        justify-content: center;
    }
    &__image {
        border-radius: 50%;
        border: 1px solid white;
        width: 90px;
        height: 90px;

        @include mediaTablet {
            width: 80px;
            height: 80px;
        }
        @include mediaMobile {
            width: 80px;
            height: 80px;
        }
    }
}