@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@1&family=Raleway&family=Space+Mono&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@1&family=Open+Sans:wght@600;700&family=Raleway:ital,wght@0,500;0,600;0,700;1,400&family=Space+Mono&display=swap');

* {
    box-sizing:border-box;
    list-style: none;
}

html, body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 1170px;
    padding: 50px 15px;
    margin: 0 auto;
}
.separator {
    width: 170px;
    &--orange{
        border-bottom: 2px solid #EC7979;
        margin: 60px auto 40px auto;
    }
    &--white {
        border-bottom: 2px solid #fff;
        margin-bottom: 40px;
        margin-top: 60px;
    }
}
.button {
    display: block;
    width: 270px;
    height: 60px;
    color:#fff;
    font-family: $fontOpenSans;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: background-color .3s ease-in-out;
    &--transparent {
        background-color:transparent;
        border: 2px solid #FFFFFF;
        
        &:hover, &:focus{
            cursor: pointer;
            border: 2px solid #EC7979;
            color: #EC7979;
        }
        &:active {
            background: #AB4949;
            border: 2px solid #AB4949;
            color:#fff;  
        }
    }
    &--red {
        background-color: #EC7979;
        border: none;
        border-color: transparent;
        margin-bottom: 30px;

        &:hover, &:focus{
            cursor: pointer;
            background-color: #AB4949;;
        }
        &:active {
            background: #EC7979;
            box-shadow: inset 0px 0px 10px #AB4949;
        }
    }
}
.social {
    &__media-icon{
        width: 70;
        height: 70;
        transition: background-color .3s ease-in-out;
        &:hover path, &:focus path {
            fill: #EC7979;
            cursor: pointer;
        }
    }
}
