.contacts {
    .container {
        padding-top: 100px;
    }
    &__main-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
    }
    &__secondary-title {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #86878B;
        text-align: center;
        margin-bottom: 90px;
    }
    &__separator {
        margin-bottom: 40px;
    }
    &__form {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-bottom: 50px;

        &--left {
            display: flex;
            flex-direction: column;

        }
        &--left, &--right {
            width: 50%;
        }
    }
    &__placeholder {
        padding: 16px 0;
        margin-bottom: 35px;
        border: none;
        border-bottom: 1px solid #BDBDBD;
        font-family: $fontOpenSans;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #BDBDBD;
        outline: none;

        &:last-child {
            margin-bottom: 0;
        }

        &--message-field {
            height: 100%;
            width: 100%;
        }
        
        &::placeholder {
            font-family: $fontOpenSans;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #BDBDBD;
        }
    }
    &__button {
        width: 370px;
        margin: 0 auto;
    }
}