.design {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/design/image.png);
    background-position: center;
    background-size: cover;

    &__separator {
        margin: 60px auto 40px auto;
    }
    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    &__main-title{
        color:#fff;
        font-family: $fontRaleway;
        font-size: 36px;
        font-weight: 400;
        text-align: center;

        
        @include mediaTablet {
            font-size: 24px;
        }
        @include mediaMobile {
            font-size: 24px;
        }
    }
    &__secondary-title{
        color:#fff;
        font-family: $fontRaleway;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 70px;
        text-align: center;

        
        @include mediaTablet {
            font-size: 14px;
        }
        @include mediaMobile {
            font-size: 14px;
        }
    }
    &__button {
        width: 370px;
        margin: 0 auto;

        
        @include mediaTablet {
            width: 318px;
        }
        @include mediaMobile {
            width: 290px;
        }
    }

}