.header {
    background-color: #000000;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;
    }
    &__burger {
        background-color: transparent;
        border: none;
        display: none;
        width: 24px;
        height: 18px;
        outline: none;
        border: none;
        margin: 20px;

        @include mediaMobile {
            display: block;

            &:active{
                .header__burger-icon{
                    path{
                        fill: rgb(214, 202, 202);
                    }
                }
            }
        }
    }
}
.nav {

    @include mediaMobile {
        display: none;
    }
    
    &__list {
        display: flex;
    }
    &__item {
        padding: 35px;
        &:hover, &:focus {
            cursor: pointer;
            background-color: #EC7979;
            transition: background-color .3s ease-in-out;
        }
        &:active {
            background-color: #AB4949;
            transition: background-color .3s ease-in-out;
        }
    }

    &__link {
        color: #FFFFFF;
        font-family: $fontOpenSans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    }
}
