.tabs {
    .container {
        padding-top: 70px;
    }
    &__tabs-container {
        display: flex;
        justify-content: flex-start;
        width: 50%;

        @include mediaMobile {
            width: 100%;
        }
    }
    &__tabs-content {
        width: 60%;
        padding: 50px;

        @include mediaMobile {
            padding: 30px;
            width: 100%;
        }
        
    }
    &__content-wrapper {
        border: 1px solid #E5E5E5;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mediaTablet {
                padding: 20px;
        }
        @include mediaMobile {
            padding: 20px;
            display: block;
    }
    }
    &__tabs-item {
        width: 150px;
        text-align: center;
        position: relative;
        padding: 10px;

        &--active {
            border: 1px solid #E5E5E5;
            border-bottom: none;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: #ffffff;
                bottom: -1px;
            }
        }
    }
    &__image {
        width: 100%;
        height: 100%;

        @include mediaMobile {
            display: none
        }
    }
}
.tabs-item {
    &__item {
        @include fontStyle($fontOpenSans, normal);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.tabs-content {
    &__main-title {
        font-family: $fontOpenSans;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        margin-bottom: 50px;

        @include mediaTablet {
                font-size: 24px;
        }
        @include mediaMobile {
            font-size: 18px;
        }
    }
    &__text-wrapper {
        margin-bottom: 30px;
    }
    &__tabs-text {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px; 
        
        @include mediaTablet {
                font-size: 14px;
        }
        @include mediaMobile {
            font-size: 13px;
        }
    }
    &__button {
        @include mediaTablet {
            width: 230px;
        }
        @include mediaMobile {
            width: 100%;
        }
    }
}


    