.tabs {
    &__tabs-container {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }
    &__tabs-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 60%;
        padding-left: 80px;
    }
    &__content-wrapper {
        border: 1px solid #E5E5E5;
        display: flex;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    &__tabs-item {
        min-width: 150px;
        text-align: center;
        position: relative;
        padding: 10px;

        &--active {
            border: 1px solid #E5E5E5;
            border-bottom: none;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                position: absolute;
                background-color: #ffffff;
                bottom: -1px;
            }
        }
    }
    &__image-wrapper{
        width: 40%;
        height: 100%;
    }
    &__image {
        width: 100%;
        height: 100%;
    }

}
.tabs-item {
    &__item {
        @include fontStyle($fontOpenSans, normal);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
    }
}
.tabs-content {
    &__main-title {
        font-family: $fontOpenSans;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        margin-bottom: 50px;
    }
    &__text-wrapper {
        margin-bottom: 30px;
    }
    &__tabs-text {
        font-family: $fontRaleway;
        font-weight: 400;
        font-size: 18px;  
    }
}


    